<% layout("/layouts/boilerplate") -%>

<div class="row">
    <div class="col-6 offset-3">
        <br><br>
        <h3 class="col-6 offset-3">Login</h3>
        <form method="POST" action="/login" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="invalid-feedback">Please enter a valid username</div>
        </div>

            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="invalid-feedback">Please enter a valid password</div>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</div>